@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Mea+Culpa&family=Roboto&display=swap%27");
body {
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
}

.dropbtn {
    cursor: grab;
    padding: 16px;
    font-size: 16px;
    border: none;
    color: #1865f2;
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    border-bottom: #e0e0e0 1px solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.mydiv {
    width: 40vw;
    justify-content: space-between;
}

.margin-left {
    margin-left: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
    top: 50px;
    width: 200px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 0;
}

.color {
    color: #1865f2;
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin: auto 0;
    cursor: grab;
}

body::-webkit-scrollbar {
    display: none;
}

.top-navigation {
    height: 60px;
    width: 100%;
    border-bottom: #e0e0e0 1px solid;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.top-navigation-left {
    width: 70%;
}

.flex {
    display: flex;
}

.logo {
    height: 59px;
    width: 84px;
    background-image: url(./logo1.svg);
}

.space-around {
    justify-content: space-around;
    width: 100%;
}

.nav {
    margin: 0 30px;
    color: #1865f2;
    font-size: 16px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
}

.top-navigation-left-left>.nav {
    margin: 0 60px;
    height: 60px;
    display: flex;
    align-items: center;
}

.width-all {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.js-color-picker {
    margin-left: 30px;
}

.minibrd>button {
    border-radius: 10px;
    background-color: #1865f1;
    outline: none;
    border: none;
    color: white;
}

.js-paint {
    background-image: url(https://library.kissclipart.com/20180904/zq/kissclipart-picture-frame-clipart-document-dry-erase-boards-in-3a8a6bd08e3dd544.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.paint-canvas {
    border: 1px black solid;
    display: block;
    margin: 1rem;
    cursor: url("./Batman\ Pen.cur"), auto;
}

.nav-img {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
}

.setting-container {
    /* display: none; */
    position: absolute;
    background-color: #f1f1f1;
    /* height: 70px; */
    width: 160px;
    top: 40px;
    z-index: 3;
    /* display: block; */
}

.nav-set-link:hover {
    background-color: #ddd;
}

.nav-set-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}