body {
  margin: 0;
}
.nav {
  height: 60px;
  color: rgb(24, 101, 242);
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.problem {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: black;
  top: 0;
  display: none;
}
.img-fluid {
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
}
button {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 63px;
  border-radius: 10px;
  background-color: #1865f1;
  outline: none;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn {
  width: 100%;
  height: 50px;
}
.center{
    width: 35vw;
    margin: 0 auto;
}
.ellipse {
  background: #6bb6ff;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  margin-top: 3px;
}
.pos {
  margin-left: -3.7px;
  color: #808080;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.flex {
  display: flex;
}
.design {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bordertxt {
  width: 35vw;
  margin: 0 auto;
  margin-top: 10px;
}
.space-between {
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.qwe {
  /* border-left: 3px solid #e5e5e5; */
  width: 90%;
}
.logo {
  background-image: url(./960d5ad1f54145d5856ebfcc51c44b38\ 1\ 2.svg);
  width: 84px;
  height: 53px;
  margin-left: 40px;
}
.margin-right {
  margin-right: 50px;
}
.title {
  height: 100px;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}
.margin-top {
  margin-top: 10px;
}
.graphsec {
  width: 42.5vw;
}
.text-align {
  text-align: center;
}
.btnborder {
  width: 42.5vw;
  height: 83px;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  margin-top: 37px;
}
.width {
  width: 90%;
  margin: 0 auto;
}
.red {
  color: red;
}
.txt{
    width: 35vw;
    padding: 30px;
}
.margin-left {
  /* margin-left: 10px; */
}
.blckbtn {
  width: 244px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #777777;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  background: #777777;
}
.border {
  border: 1px solid black;
  width: 38vw;
  height: 101px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  border-radius: 15px;
}
.theory {
  width: 42.5vw;
  border-bottom: none;
  height: 667px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}
.graphic {
  width: 42.5vw;
  border: 1px solid black;
  height: 483px;
}
.showfunc {
  height: 50px;
  width: 42.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-around {
  justify-content: space-between;
}
.container {
  width: 90vw;
  height: calc(100vh - 160px);
  margin: 0 auto;
}
.explanation {
  width: 42.5vw;
  height: 112px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.graphset {
  width: 42.5vw;
  height: 114px;
  border: 1px solid black;
}
