@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Mea+Culpa&family=Roboto&display=swap%27');
html,
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #fafafa;
}

body::-webkit-scrollbar {
    display: none;
}

.logo {
    height: 59px;
    width: 84px;
    background-image: url(./logo1.svg);
}

.top-navigation {
    height: 60px;
    width: 100vw;
    border-bottom: #E0E0E0 1px solid;
    justify-content: space-around;
}

.mydiv {
    width: 40vw;
    justify-content: space-between;
}

.color {
    color: #1865F2;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: auto 0;
}

.dropbtn {
    cursor: grab;
    padding: 16px;
    font-size: 16px;
    border: none;
    color: #1865F2;
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-bottom: #E0E0E0 1px solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.margin-left {
    margin-left: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
    top: 50px;
    width: 200px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 0;
}

.color {
    color: #1865F2;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: auto 0;
    cursor: grab;
}

.top-navigation-left-left>.nav {
    margin: 0 60px;
    height: 60px;
    display: flex;
    align-items: center;
}

.width-all {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.ellipse {
    background: #6bb6ff;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    margin-top: 3px;
}

.pos {
    margin-left: -3.7px;
    color: #808080;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.flex {
    display: flex;
}

.design {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bordertxt {
    margin: 0 auto;
    margin-top: 10px;
}

.border {
    border: 1px solid black;
    word-break: break-word;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.border1 {
    word-break: break-word;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.border2 {
    word-break: break-word;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.space-between {
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.qwe {
    border-left: 3px solid #e5e5e5;
    width: 90%;
}

.margin-right {
    margin-right: 50px;
}

.title {
    height: 100px;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    background-color: #fafafa;
}

.margin-top {
    margin-top: 10px;
}

.graphsec {
    width: 42.5vw;
}

.text-align {
    text-align: center;
}

.red {
    color: red;
}

.margin-left {
    margin-left: 10px;
}

.theory {
    width: 42.5vw;
    border-bottom: none;
    height: 667px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

.theory::-webkit-scrollbar {
    display: none;
}

.graphic {
    width: 42.5vw;
    border: 1px solid black;
    height: 483px;
}

.showfunc {
    height: 50px;
    width: 42.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hand>button {
    border-radius: 10px;
    background-color: #1865f1;
    outline: none;
    border: none;
    color: white;
}

.space-around {
    justify-content: space-between;
}

.container {
    width: 90vw;
    height: calc(100vh - 160px);
    margin: 0 auto;
    background-color: #fafafa;
    ;
}

.bord {
    border: 1px solid whitesmoke;
    word-spacing: 1rem;
    line-height: 0.7cm;
}

.explanation {
    width: 42.5vw;
    height: 112px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.hand>input {
    width: 30px;
}

.width {
    width: 90%;
    margin: 0 auto;
}

.graphset {
    width: 42.5vw;
    height: 114px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exam {
    height: 80vh;
    width: 50vw;
    z-index: 99;
    position: absolute;
    background-color: #1865f1;
    top: 50%;
    left: 25%;
    display: flex;
    flex-direction: column;
}

.close {
    position: sticky;
    margin-left: 95%;
    font-size: 20px;
}

.nav-img {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
}

.setting-container {
    /* display: none; */
    position: absolute;
    background-color: #f1f1f1;
    /* height: 70px; */
    width: 160px;
    top: 40px;
    z-index: 3;
    /* display: block; */
}

.nav-set-link:hover {
    background-color: #ddd;
}

.nav-set-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.a {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 50%;
}

.a:focus {
    outline: none;
}

.a::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: red;
    border-radius: 1px;
    border: 0px solid #000000;
}

.a::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid red;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: red;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.a:focus::-webkit-slider-runnable-track {
    background: red;
}

.a::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: red;
    border-radius: 1px;
    border: 0px solid #000000;
}

.a::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: red;
    cursor: pointer;
}

.a::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.a::-ms-fill-lower {
    background: red;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.a::-ms-fill-upper {
    background: red;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.a::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: red;
    cursor: pointer;
}

.a:focus::-ms-fill-lower {
    background: red;
}

.a:focus::-ms-fill-upper {
    background: red;
}

.b {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 50%;
}

.b:focus {
    outline: none;
}

.b::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: green;
    border-radius: 1px;
    border: 0px solid #000000;
}

.b::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid green;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: green;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.b:focus::-webkit-slider-runnable-track {
    background: green;
}

.b::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: green;
    border-radius: 1px;
    border: 0px solid #000000;
}

.b::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: green;
    cursor: pointer;
}

.b::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.b::-ms-fill-lower {
    background: green;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.b::-ms-fill-upper {
    background: green;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.b::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: green;
    cursor: pointer;
}

.b:focus::-ms-fill-lower {
    background: green;
}

.b:focus::-ms-fill-upper {
    background: green;
}

.c {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 50%;
}

.c:focus {
    outline: none;
}

.c::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497e3;
    border-radius: 1px;
    border: 0px solid #000000;
}

.c::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #2497e3;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

.c:focus::-webkit-slider-runnable-track {
    background: #2497e3;
}

.c::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #2497e3;
    border-radius: 1px;
    border: 0px solid #000000;
}

.c::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #2497e3;
    cursor: pointer;
}

.c::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.c::-ms-fill-lower {
    background: #2497e3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.c::-ms-fill-upper {
    background: #2497e3;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

.c::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #2497e3;
    cursor: pointer;
}

.c:focus::-ms-fill-lower {
    background: #2497e3;
}

.c:focus::-ms-fill-upper {
    background: #2497e3;
}

@media only screen and (max-width: 960px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .showfunc {
        width: 90vw;
    }
    .graphic {
        width: 90vw;
    }
    .graphset {
        width: 90vw;
    }
    .theory {
        top: 30px;
        width: 90vw;
    }
}