body {
  margin: 0;
}
.nav {
  height: 60px;
  color: rgb(24, 101, 242);
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.flex {
  display: flex;
}

.content-container {
  position: relative;
}

/* .fileinp {
  display: none;
} */
.profilep {
  margin-left: 40px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('../images/Profile-PNG-File-removebg-preview 1.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid black;
  padding: 0;
}
.upload {
  width: 153px;
  height: 48px;
  background-color: #c4c4c4;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
label {
  display: block;
  width: 153px;
  height: 48px;
}
.margin {
  margin-top: 20px;
  margin-left: 30px;
}
.remove {
  width: 153px;
  background-color: white;
  border: none;
  opacity: 0.5;
}
.space-between {
  justify-content: space-between;
}
.just-center {
  justify-content: center;
}
.just-even {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.container {
  background-image: url(../images/Rectangle\ 59\ copy.svg);
  background-repeat: no-repeat;
  height: calc(100vh - 60px);
  width: 100vw;
  background-size: cover;
}
.margin-right {
  margin-right: 50px;
}
.column {
  flex-direction: column;
}
.logo {
  background-image: url(../images/960d5ad1f54145d5856ebfcc51c44b38\ 1.svg);
  width: 84px;
  height: 53px;
  margin-left: 40px;
}
.center {
  justify-content: center;
  height: 100%;
  align-items: center;
}
.loginmar {
  margin-left: 50px;
  margin-top: 80px;
}
.bluebg {
  width: 534px;
  height: 687px;
  background-color: #1865f2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: white;
}
.size1 {
  width: 30px;
  height: 30px;
}
.size3 {
  width: 30px;
  height: 35px;
}
.size2 {
  width: 39px;
  height: 30px;
  /* margin-left: 4px; */
}
.loginbtn {
  background: #c4c4c4;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: white;
  margin-top: 30px;
}
.btnlogo {
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 8px;
  margin-left: 5px;
}
.login {
  width: 534px;
  height: 687px;
  background-color: white;
}
button {
  width: 368px;
  height: 48px;
  margin-top: 25px;
  position: relative;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
}
ul {
  margin-top: 50px;
  width: 440px;
  height: 300px;
  justify-content: center;
  padding: 0;
}
li {
  /* margin-top: 20px; */
  width: 400 px;
  height: 80px;
  box-sizing: border-box;
  outline: none;
  border-top: 1px black solid;
  list-style: none;
  font-size: 18px;
}
li:last-child {
  border-bottom: 1px black solid;
}
.liDiv {
  width: 320px;
  height: 48px;
  padding: 10px;
}
.edit {
  text-align: center;
  color: #1865f2;
  width: calc(368px - 300px);
  text-decoration: underline;
  cursor: pointer;
}
.center2 {
  align-items: center;
}
.margin-top:first-child {
  margin-top: 0;
}
.text {
  width: 368px;
  color: #2c2122;
  /* height: 19px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 16px;
}
.margin-top {
  margin-top: 20px;
}
.changed-field {
  position: absolute;
  top: auto;
  left: auto;
  height: 300px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  z-index: 999;
  padding: auto;
}

.changed-field-phone {
  position: absolute;
  top: auto;
  left: auto;
  height: 500px;
  width: 700px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  z-index: 999;
  padding: auto;
}

.big-text {
  font-size: 30px;
}
.big-text label {
  width: 100%;
}

.big-text input {
  width: 368px;
  height: 48px;
}
.changeBtn {
  height: 48px;
  width: 150px;
  margin: 30px 20px;
  background-color: aliceblue;
}
