* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.just-start {
  justify-content: flex-start;
}
.flex.just-center {
  justify-content: center;
}
.flex.just-between {
  justify-content: space-between;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-center {
  align-items: center;
}
.profile-body {
  width: 100vw;
  height: 100vh;
}
