body {
  margin: 0;
}
.nav {
  height: 60px;
  color: rgb(24, 101, 242);
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.container {
  background-image: url(../images/Rectangle\ 59\ copy.svg);
  background-repeat: no-repeat;
  height: calc(100vh - 60px);
  width: 100vw;
  background-size: cover;
}
.margin-right {
  margin-right: 50px;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.just-center {
  justify-content: center;
}
.logo {
  background-image: url(../images/960d5ad1f54145d5856ebfcc51c44b38\ 1.svg);
  width: 84px;
  height: 53px;
  margin-left: 40px;
}
.center {
  justify-content: center;
  height: 100%;
  align-items: center;
}
.loginmar {
  margin-left: 50px;
  margin-top: 80px;
}
.bluebg {
  width: 534px;
  height: 687px;
  background-color: #1865f2;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: white;
}
.size1 {
  width: 30px;
  height: 30px;
}
.size3 {
  width: 30px;
  height: 35px;
}
.size2 {
  width: 39px;
  height: 30px;
  /* margin-left: 4px; */
}
.loginbtn {
  background: #c4c4c4;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: white;
}
.btnlogo {
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 8px;
  margin-left: 5px;
}
.login {
  width: 534px;
  height: 687px;
  background-color: white;
}
button {
  width: 368px;
  height: 48px;
  margin-top: 25px;
  position: relative;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}
input {
  width: 368px;
  height: 48px;
  box-sizing: border-box;
  outline: none;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 4px;
  /* border: none; */
  border: 1px solid;
}
.center1 {
  align-items: center;
  margin-top: 50px;
}
.center2 {
  align-items: center;
  margin-top: 80px;
}
.center3 {
  display: none;
  align-items: center;
  margin-top: 117px;
}

.center4 {
  display: none;
  width: 534px;
  height: 687px;
  background-color: white;
  align-items: center;
}

.center5 {
  display: none;
  width: 534px;
  height: 687px;
  background-color: white;
  align-items: center;
}

.text {
  width: 368px;
  color: #2c2122;
  /* height: 19px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 16px;
}
.margin-top {
  margin-top: 20px;
}
.create {
  color: #1865f2;
  margin-top: 20px;
  cursor: pointer;
}
