* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex.just-start {
  justify-content: flex-start;
}
.flex.just-center {
  justify-content: center;
}
.flex.just-between {
  justify-content: space-between;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-center {
  align-items: center;
}
.login-body {
  width: 100vw;
  height: 100vh;
}
.login-container {
  border: 1px solid black;
  height: 600px;
  width: 400px;
  background-color: rgb(229, 229, 243);
}
.top div {
  margin: 30px;
  width: 170px;
}
.top div label {
  margin-bottom: 10px;
}
.top div input {
  height: 30px;
  width: 170px;
}
.input-btn {
  height: 30px;
  width: 170px;
  background-color: rgb(43, 226, 67);
}
.sign-up {
  display: none;
}
.google-sign-in {
  display: none;
}
.facebook {
  background-image: url('https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: 10px;
}
.google {
  background-image: url('https://freesvg.org/img/1534129544.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: 10px;
  cursor: pointer;
}
.phone {
  background-image: url('https://www.vhv.rs/dpng/d/52-524161_black-phone-icon-png-transparent-png.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: 10px;
}
/* .regist-img {
  width: 100px;
  height: 100px;
} */
