*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color: #F7F5F4;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    transition: .5s;
    transform: translateX(200px);
    background-color: white;
    
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    transition: .5s;
    transform: translateX(0px);
}
h1{
    text-align: center;
}
