*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.top{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    background-color: grey;
    color: white;
}
section{
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block1{
    height: 200px;
    width: 200px;
    background-color: grey;
}
.block2{
    height: 200px;
    width: 200px;
    background-color: grey;
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
}